<a href="https://colab.research.google.com/github/ruman-shaikh/NLP_Project_Grp_1/blob/master/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory data analysis

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# @title Install dependencies
!pip install pandas --quiet

In [ ]:
# We import some libraries to load the dataset
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from collections import Counter
from tqdm.notebook import tqdm

### Changing the present working direcory

In [ ]:
print("Present Working Directory")
%cd /content/drive/Shareddrives/NMA_DL_Dolma_1/
print("Directory content")
%ls

Present Working Directory
/content/drive/Shareddrives/NMA_DL_Dolma_1
Directory content
 Abstract.gdoc   Datasets/            'Project Guides.gsheet'
 code/          'Literature Review'/  'Project Ideas.gdoc'

### Defining dataset dir constant and list the available datasets

In [ ]:
DATASET_DIR_PATH = "Datasets/"
%ls {DATASET_DIR_PATH}

trainingandtestdata.zip

In [ ]:
import zipfile, os

dataset_name = "Sentiment140"

#Chnage path to dataset directory
%cd {DATASET_DIR_PATH}
%mkdir {dataset_name}

data_extract_path = os.path.join(DATASET_DIR_PATH, dataset_name)

z = zipfile.ZipFile("trainingandtestdata.zip")
z.extractall(dataset_name)

/content/drive/Shareddrives/NMA_DL_Dolma_1/Datasets

In [ ]:
print(data_extract_path)

Datasets/Sentiment140

In [ ]:
os.path.join(os.getcwd(), dataset_name)

'/content/drive/Shareddrives/NMA_DL_Dolma_1/Datasets/Sentiment140'

In [ ]:
# We load the dataset
header_list = ["polarity", "id", "date", "query", "user", "text"]
df = pd.read_csv(os.path.join(os.getcwd(), dataset_name,'training.1600000.processed.noemoticon.csv'),
                 encoding = "ISO-8859-1", names=header_list)

# Let's have a look at it
df.head()

,polarity,id,date,query,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

### To-Do

- Can we take the entire tweet as input to SBERT
- Max len of tweet in our dataset
- if we can split the tweet into multiple inputs

### Pipeline

 - Data pre-processing
   - EDA To-do & figure out how to work with SBERT (see below to-do):
     - Can we take the entire tweet as input to SBERT
     - Max len of tweet in our dataset
     - if we can split the tweet into multiple inputs
   - Clean up data (remove links and usernames from tweets)
   - TO-Do: Split it into train, test and validation (3-fold validation)
     - Train set features and labels
     - Test set would features and labels would seperated
     - Validation set for testing different s-transformers
 - To-Do: testing input and output of SBERT
 - Classifier design